<section class="course">
    <div class="container">
        <h1 class="text-center">All Courses</h1>
        <div class="row mt-5" >
            <div class="col-lg-4 mb-5" *ngFor="let cs of course">
                <div class="box shadow">
                    <img src="{{cs.image}}" width="100%">
                    <h3 class="mt-2">{{cs.name}}</h3>
                    <p>{{cs.description}}</p>
                    <button class="btn btn-primary btn-sm mt-2">Watch Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
