.course{
    background-color: azure;
    padding: 50px 100px;
}

.box{
    background-color: white;
    padding: 10px 20px;
}

@media screen and (max-width:600px) 
{
    .course{
        background-color: azure;
        padding: 50px 5px;
    }
}